@model myTasks

@{
    ViewData["Title"] = "Edit Task";
}

<div class="container">
    <h1>Edit Task</h1>
    <hr />
    <form asp-action="Edit" asp-controller="Tasks">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TaskId" />

        <div class="form-group">
            <label asp-for="EngineerId" class="control-label"></label>
            <select asp-for="EngineerId" class="form-control" asp-items="ViewBag.EngineerId"></select>
            <span asp-validation-for="EngineerId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TaskTitle" class="control-label"></label>
            <input asp-for="TaskTitle" class="form-control" />
            <span asp-validation-for="TaskTitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TaskDescription" class="control-label"></label>
            <textarea asp-for="TaskDescription" class="form-control"></textarea>
            <span asp-validation-for="TaskDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TaskCost" class="control-label"></label>
            <input asp-for="TaskCost" class="form-control" />
            <span asp-validation-for="TaskCost" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="primary-btn" />
            <a asp-controller="Tasks" asp-action="Index" class="secondary-btn">Cancel</a>
        </div>
    </form>
</div>

@*
@section Scripts {
    @await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
*@