@model Item

@{
    ViewData["Title"] = "Edit Item";
}

<div class="container">
    <h2>Edit Item</h2>

    <form method="post" asp-controller="Items" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <input type="hidden" asp-for="ItemId" />
        <input type="hidden" asp-for="ImagePath" />
        <input type="hidden" asp-for="ItemDetails.CreatedDate" />
        <input type="hidden" asp-for="ItemDetails.UpdatedDate" />
        <input type="hidden" asp-for="OnDelete" />


        <div class="form-group">
            <label asp-for="ItemName"></label>
            <input asp-for="ItemName" class="form-control" placeholder="Enter Item Name" />
            <span asp-validation-for="ItemName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SalesPrice"></label>
            <input asp-for="SalesPrice" class="form-control" placeholder="Enter sales price" />
            <span asp-validation-for="SalesPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PurchasePrice"></label>
            <input asp-for="PurchasePrice" class="form-control" placeholder="Enter purchase price" />
            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select style="color:burlywood;" asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))">
                <option value="">Select Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ItemType"></label>
            <input asp-for="ItemType" class="form-control" placeholder="Enter item type" />
            <span asp-validation-for="ItemType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath"></label>
            <input type="file" asp-for="ImagePath" class="form-control" accept="image/*" onchange="previewImage(event)" />
            <img id="imagePreview" class="image-preview" alt="Image Preview" style="width:65%; height250px;"
                 src="~/Uploads/Items/@Model.ImagePath" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Enter description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-controller="Items" asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('imagePreview');
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            } else {
                imagePreview.style.display = 'none';
            }
        }
    </script>
}

